In [176]:
import calendar
import datetime as dt
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import locale

'es_EC'

locale.setlocale(locale.LC_ALL, 'es_EC')

File read, we defined to skik the first 4 rows and limited the numbers of rows
to read as there is aditional text informacion.

Index information

In [177]:
def column_cleaner(col):
    dirt = [' ', '.', ',', '*']
    new_col = col
    for d in dirt:
        new_col = new_col.str.replace(d, '')
    return new_col


file_index = pd.read_csv(
    "data/DECON_INA-R_Serie_historica_ina-r_ene_2003_feb_2021/1. Indices.csv",
    encoding='latin-1',
    skiprows=4,
    nrows=197,
    skipinitialspace=True
)
file_index.columns = column_cleaner(file_index.columns)
file_index.replace('-', '0', regex=True, inplace=True)
file_index.replace('\*', '0', regex=True, inplace=True)
file_index.replace('º', ' 0', regex=True, inplace=True)
file_index.replace('_', '0', regex=True, inplace=True)
file_index = file_index.rename(columns={'DESCRIPCIÓNCIIU3': 'DESCRIPCIÓN'})
file_index.head(3)

,Nivel,CIIU3,DESCRIPCIÓN,ENE03,FEB03,MAR03,ABR03,MAY03,JUN03,JUL03,...,MAY20,JUN20,JUL20,AGO20,SEP20,OCT20,NOV20,DIC20,ENE21,FEB21
0,0,0,ÍNDICE GENERAL,107.71,110.99,108.94,102.63,98.17,103.65,102.42,...,70.59,87.59,95.22,97.12,101.68,104.77,104.65,101.52,97.23,111.08
1,1,A,"AGRICULTURA, GANADERÍA, CAZA Y SILVICULTURA.",115.56,129.23,125.55,122.87,113.35,96.92,112.41,...,90.53,102.45,102.95,102.62,104.94,104.57,102.28,103.49,100.71,113.28
2,2,A01,"AGRICULTURA, GANADERÍA, CAZA Y ACTIVIDADES DE ...",115.88,129.02,125.60,122.75,113.01,96.96,112.52,...,90.63,102.50,103.06,102.73,105.03,104.68,102.32,103.41,100.63,113.19

Month variation information

In [178]:
file_month = pd.read_csv(
    "data/DECON_INA-R_Serie_historica_ina-r_ene_2003_feb_2021/2. Var Men.csv",
    encoding='latin-1',
    skiprows=4,
    nrows=197
)
file_month.columns = column_cleaner(file_month.columns)
file_month.replace('-', '0', regex=True, inplace=True)
file_month.replace('\*', '0', regex=True, inplace=True)
file_month.replace('º', ' 0', regex=True, inplace=True)
file_month.replace('_', '0', regex=True, inplace=True)
file_month = file_month.rename(columns={'DESCRIPCIÓNCIIU3': 'DESCRIPCIÓN'})
file_month.head(3)

,Nivel,CIIU3,DESCRIPCIÓN,FEB03,MAR03,ABR03,MAY03,JUN03,JUL03,AGO03,...,MAY20,JUN20,JUL20,AGO20,SEP20,OCT20,NOV20,DIC20,ENE21,FEB21
0,0,0,VARIACIÓN MENSUAL,3.04,-1.84,-5.79,-4.35,5.58,-1.19,05.95,...,5.72,24.09,8.71,2.00,4.69,3.04,00.12,02.98,04.23,14.24
1,1,A,"AGRICULTURA, GANADERÍA, CAZA Y SILVICULTURA.",11.83,-2.85,-2.13,-7.75,-14.49,15.98,05.19,...,01.08,13.17,0.49,00.32,2.26,00.35,02.19,1.18,02.69,12.48
2,2,A01,"AGRICULTURA, GANADERÍA, CAZA Y ACTIVIDADES DE ...",11.34,-2.65,-2.26,-7.94,-14.21,16.05,04.16,...,00.97,13.10,0.55,00.32,2.24,00.34,02.26,1.07,02.68,12.48

Year variation information

In [179]:
file_year = pd.read_csv(
    "data/DECON_INA-R_Serie_historica_ina-r_ene_2003_feb_2021/3. Var Anual.csv",
    encoding='latin-1',
    skiprows=4,
    nrows=197
)
file_year.columns = column_cleaner(file_year.columns)
file_year.replace('-', '0', regex=True, inplace=True)
file_year.replace('\*', '0', regex=True, inplace=True)
file_year.replace('º', ' 0', regex=True, inplace=True)
file_year.replace('_', '0', regex=True, inplace=True)
file_year = file_year.rename(columns={'DESCRIPCIÓNCIIU3': 'DESCRIPCIÓN'})
file_year.head(3)

,Nivel,CIIU3,DESCRIPCIÓN,ENE04,FEB04,MAR04,ABR04,MAY04,JUN04,JUL04,...,MAY20,JUN20,JUL20,AGO20,SEP20,OCT20,NOV20,DIC20,ENE21,FEB21
0,0,0,VARIACIÓN ANUAL,-2.61,-3.92,2.03,3.86,6.77,4.35,01.37,...,028.79,013.87,08.09,05.31,2.63,7.29,1.83,2.98,011.64,12.30
1,1,A,"AGRICULTURA, GANADERÍA, CAZA Y SILVICULTURA.",-8.43,-30.18,-30.37,-27.44,-16.67,-10.21,020.50,...,011.71,02.23,06.04,03.95,2.42,00.31,01.28,00.55,04.36,8.72
2,2,A01,"AGRICULTURA, GANADERÍA, CAZA Y ACTIVIDADES DE ...",-8.66,-30.37,-30.84,-27.74,-16.87,-10.63,020.93,...,011.11,02.27,06.06,03.99,2.37,00.39,01.35,00.63,04.39,8.68

Find nan values

In [180]:
file_index.isnull().sum()

Nivel          0
CIIU3          0
DESCRIPCIÓN    0
ENE03          0
FEB03          0
              ..
OCT20          2
NOV20          2
DIC20          2
ENE21          2
FEB21          2
Length: 221, dtype: int64

In [181]:
file_month.isnull().sum()

Nivel          0
CIIU3          0
DESCRIPCIÓN    0
FEB03          0
MAR03          0
              ..
OCT20          0
NOV20          0
DIC20          0
ENE21          0
FEB21          0
Length: 220, dtype: int64

In [182]:
file_year.isnull().sum()

Nivel          0
CIIU3          0
DESCRIPCIÓN    0
ENE04          0
FEB04          0
              ..
OCT20          0
NOV20          0
DIC20          0
ENE21          0
FEB21          0
Length: 209, dtype: int64

Fix nan values

In [183]:
file_index.fillna(0)
file_month.fillna(0)
file_year.fillna(0)

,Nivel,CIIU3,DESCRIPCIÓN,ENE04,FEB04,MAR04,ABR04,MAY04,JUN04,JUL04,...,MAY20,JUN20,JUL20,AGO20,SEP20,OCT20,NOV20,DIC20,ENE21,FEB21
0,0,0,VARIACIÓN ANUAL,-2.61,-3.92,2.03,3.86,6.77,4.35,01.37,...,028.79,013.87,08.09,05.31,2.63,7.29,1.83,2.98,011.64,12.30
1,1,A,"AGRICULTURA, GANADERÍA, CAZA Y SILVICULTURA.",-8.43,-30.18,-30.37,-27.44,-16.67,-10.21,020.50,...,011.71,02.23,06.04,03.95,2.42,00.31,01.28,00.55,04.36,8.72
2,2,A01,"AGRICULTURA, GANADERÍA, CAZA Y ACTIVIDADES DE ...",-8.66,-30.37,-30.84,-27.74,-16.87,-10.63,020.93,...,011.11,02.27,06.06,03.99,2.37,00.39,01.35,00.63,04.39,8.68
3,3,A011,CULTIVOS EN GENERAL; CULTIVOS DE PRODUCTOS DE ...,-9.91,-33.87,-34.97,-30.83,-20.37,-14.26,023.78,...,010.10,07.25,07.78,05.30,01.31,04.59,02.98,02.11,3.53,5.98
4,3,A012,CRÍA DE ANIMALES DOMÉSTICOS.,7.26,12.15,12.43,3.91,24.51,25.81,5.51,...,016.75,1.33,07.08,07.47,3.16,4.57,00.09,3.64,017.57,11.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2,O92,ACTIVIDADES DE ESPARCIMIENTO Y ACTIVIDADES CUL...,6.44,15.16,10.75,8.91,16.22,3.91,5.86,...,068.19,057.67,052.39,048.66,04.74,08.02,2.63,01.95,030.26,33.90
193,3,O921,"ACTIVIDADES DE CINEMATOGRAFÍA, RADIO Y TELEVIS...",4.95,21.97,20.63,10.02,8.30,6.34,7.46,...,080.00,069.97,064.36,058.75,011.85,014.59,2.95,3.12,043.09,39.89
194,3,O924,ACTIVIDADES DEPORTIVAS Y OTRAS ACTIVIDADES DE ...,3.58,-19.04,-32.87,-4.38,55.42,-15.52,06.22,...,038.69,026.55,022.31,034.30,12.60,2.22,7.35,010.03,07.68,17.11
195,2,O93,OTRAS ACTIVIDADES DE TIPO SERVICIO.,-23.25,-16.93,-13.07,-10.55,-2.98,1.29,07.50,...,09.40,011.54,02.95,05.44,12.81,5.56,00.38,015.43,024.52,7.88
196,3,O930,OTRAS ACTIVIDADES DE TIPO SERVICIO.,-23.25,-16.93,-13.07,-10.55,-2.98,1.29,07.50,...,09.40,011.54,02.95,05.44,12.81,5.56,00.38,015.43,024.52,7.88

In [184]:
def pivoter(df_arg):
    pivot_df = df_arg.melt(id_vars=['Nivel', 'CIIU3', 'DESCRIPCIÓN'])
    pivot_df.variable.replace('.', '', inplace=True)
    pivot_df['MONTH_ABBR'] = pivot_df.variable.astype(str).str[:3] + '.'
    pivot_df['YEAR'] = '20' + pivot_df.variable.astype(str).str[3:]
    pivot_df['MONTH_NUM'] = pivot_df['MONTH_ABBR'].apply(lambda x: list(calendar.month_abbr).index(x.lower()))
    pivot_df['MONTH'] = pivot_df['MONTH_ABBR'].apply(
        lambda x: calendar.month_name[list(calendar.month_abbr).index(x.lower())].capitalize())
    del pivot_df['variable']
    pivot_df['FECHA']=pivot_df['YEAR'].astype(str)+'-'+pivot_df['MONTH_NUM'].astype(str)
    pivot_df.rename(columns={'value':'VALOR'},inplace=True)
    return pivot_df

Separate records by level

In [185]:
def df_level(df_arg):
    # arg_df[""]=arg_df[]+arg_df[]
    arg_df = df_arg
    df0 = arg_df[arg_df.Nivel == 0]
    df1 = arg_df[arg_df.Nivel == 1]
    df2 = arg_df[arg_df.Nivel == 2]
    df3 = arg_df[arg_df.Nivel == 3]
    # a_dataframe["AB"] = a_dataframe["A"] + a_dataframe["B"]
    return df0, df1, df2, df3

In [186]:
index0, index1, index2, index3 = df_level(file_index)
year0, year1, year2, year3 = df_level(file_year)
month0, month1, month2, month3 = df_level(file_month)
indexs = [index0, index1, index2, index3]
months = [month0, month1, month2, month3]
years = [year0, year1, year2, year3]

# file_index.to_csv(r'./data/cleaned/index.csv', index=False, header=True)
# file_month.to_csv(r'./data/cleaned/month.csv', index=False, header=True)
# file_year.to_csv(r'./data/cleaned/year.csv', index=False, header=True)
pivoter(file_index).to_csv(r'./data/cleaned/index.csv', index=False, header=True)
pivoter(file_month).to_csv(r'./data/cleaned/month.csv', index=False, header=True)
pivoter(file_year).to_csv(r'./data/cleaned/year.csv', index=False, header=True)
for i in range(len(indexs)):
    indexs[i].to_csv(r'./data/cleaned/index{}.csv'.format(i), index=False, header=True)
    months[i].to_csv(r'./data/cleaned/month{}.csv'.format(i), index=False, header=True)
    years[i].to_csv(r'./data/cleaned/year{}.csv'.format(i), index=False, header=True)

In [187]:
def group(arg_df):
    grouped = arg_df.groupby(lambda col: col[4:6], axis=1)
    grouped.rename(columns={'3': 'CIIU3', 'RI': 'descripcion', 'l': 'Nivel'}, inplace=True)
    return grouped

In [188]:
file_index.describe()

,Nivel,ENE03,FEB03,MAR03,ABR03,MAY03,JUN03,JUL03,AGO03,SEP03,...,MAY20,JUN20,JUL20,AGO20,SEP20,OCT20,NOV20,DIC20,ENE21,FEB21
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,2.548223,109.171269,111.693198,106.394365,103.021827,100.262132,103.809188,102.792741,93.019442,96.857360,...,69.933333,89.910974,95.912923,95.996821,103.795179,105.610410,103.936051,104.322615,99.193897,107.834513
std,0.657732,21.589099,18.865471,18.769481,15.845571,17.481445,13.841754,18.965071,20.197722,19.123892,...,22.684369,29.780050,23.737812,24.961320,25.903626,22.176189,20.907447,25.622519,26.220621,21.292373
min,0.000000,8.360000,59.220000,46.360000,51.260000,14.820000,68.020000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,7.800000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,100.000000,101.800000,97.680000,95.930000,96.380000,97.060000,99.410000,89.550000,91.090000,...,56.520000,79.175000,85.755000,85.525000,93.005000,94.350000,96.365000,92.455000,87.005000,99.760000
50%,3.000000,106.860000,108.240000,103.540000,102.060000,100.000000,101.650000,103.600000,96.490000,99.430000,...,68.910000,90.120000,97.200000,95.460000,102.520000,104.230000,104.720000,103.580000,96.950000,109.550000
75%,3.000000,115.560000,116.120000,110.900000,110.240000,105.950000,108.230000,107.520000,102.510000,105.270000,...,82.395000,99.855000,106.140000,106.135000,109.750000,114.075000,111.865000,114.060000,108.990000,119.040000
max,3.000000,190.250000,212.260000,195.830000,176.280000,154.210000,156.460000,187.700000,155.670000,197.000000,...,131.850000,269.140000,160.470000,250.130000,266.360000,187.170000,204.900000,224.450000,278.590000,179.610000

In [189]:
index1.describe()

,Nivel,ENE03,FEB03,MAR03,ABR03,MAY03,JUN03,JUL03,AGO03,SEP03,...,MAY20,JUN20,JUL20,AGO20,SEP20,OCT20,NOV20,DIC20,ENE21,FEB21
count,15.0,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,...,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000
mean,1.0,109.894667,110.592000,107.561333,103.938667,99.491333,102.188000,104.813333,96.472667,98.510667,...,73.36400,86.631333,95.818000,97.297333,100.286667,106.876667,102.767333,97.95600,92.269333,110.856667
std,0.0,11.224991,14.071349,14.242913,10.034988,12.588717,10.450274,6.675658,9.720181,7.638541,...,19.70292,16.582159,14.217541,10.293833,12.360609,14.531580,10.849653,14.53777,8.948793,14.467094
min,1.0,86.000000,93.150000,76.250000,80.090000,63.080000,74.910000,85.230000,74.250000,81.240000,...,46.21000,59.120000,69.450000,82.020000,81.120000,88.750000,80.270000,58.85000,76.330000,84.900000
25%,1.0,104.575000,102.915000,102.395000,100.240000,98.440000,99.180000,103.110000,93.135000,94.340000,...,59.56000,78.645000,86.050000,89.775000,93.895000,98.075000,97.800000,94.01500,85.700000,103.360000
50%,1.0,111.280000,107.560000,107.720000,103.860000,101.780000,100.800000,106.150000,98.700000,101.290000,...,67.06000,86.330000,96.800000,98.400000,100.950000,104.570000,104.790000,103.49000,92.920000,112.230000
75%,1.0,114.840000,112.570000,111.710000,109.640000,106.165000,106.015000,107.975000,101.240000,103.065000,...,85.91500,96.365000,102.225000,102.215000,104.920000,110.665000,107.595000,106.20500,100.325000,116.455000
max,1.0,133.490000,149.600000,142.030000,122.870000,114.440000,121.670000,114.010000,113.820000,109.580000,...,118.14000,126.690000,125.610000,116.960000,129.250000,149.900000,121.130000,117.09000,103.310000,138.440000

In [190]:
index2.describe()

,Nivel,ENE03,FEB03,MAR03,ABR03,MAY03,JUN03,JUL03,AGO03,SEP03,...,MAY20,JUN20,JUL20,AGO20,SEP20,OCT20,NOV20,DIC20,ENE21,FEB21
count,56.0,56.000000,56.000000,56.000000,56.00000,56.000000,56.000000,56.000000,56.000000,56.000000,...,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,2.0,106.349286,111.133393,105.551607,100.64125,99.684464,104.212143,101.221250,90.198571,94.057857,...,69.386964,90.714286,97.764464,98.228750,106.518393,106.720000,105.515357,105.705536,100.408750,109.627857
std,0.0,18.959392,18.636578,17.479455,13.64025,16.628190,11.926983,19.098781,22.284380,19.770578,...,21.548476,32.339623,22.394071,27.990406,27.960393,21.637458,21.019091,23.662779,21.809645,18.888563
min,2.0,28.680000,59.220000,76.090000,51.26000,14.820000,74.910000,0.000000,0.000000,0.000000,...,15.340000,18.990000,46.890000,42.520000,37.480000,36.440000,56.290000,49.230000,35.890000,52.880000
25%,2.0,100.000000,102.357500,98.535000,96.02750,96.720000,98.222500,99.452500,88.172500,88.550000,...,56.730000,80.482500,87.037500,85.725000,94.485000,94.450000,96.260000,93.235000,88.600000,104.077500
50%,2.0,105.920000,108.345000,103.050000,101.34500,99.910000,101.325000,102.990000,95.615000,99.155000,...,67.000000,90.750000,97.115000,95.990000,103.845000,104.795000,104.250000,105.980000,98.795000,110.040000
75%,2.0,114.802500,114.222500,110.957500,107.19000,105.157500,107.305000,106.285000,101.350000,104.517500,...,81.660000,97.610000,110.132500,106.497500,110.232500,116.030000,111.290000,115.392500,109.280000,120.330000
max,2.0,170.390000,206.840000,192.100000,133.84000,150.760000,156.460000,159.400000,125.830000,127.350000,...,128.760000,269.140000,160.470000,250.130000,266.360000,177.940000,204.900000,186.110000,188.430000,147.470000

In [191]:
index3.describe()

,Nivel,ENE03,FEB03,MAR03,ABR03,MAY03,JUN03,JUL03,AGO03,SEP03,...,MAY20,JUN20,JUL20,AGO20,SEP20,OCT20,NOV20,DIC20,ENE21,FEB21
count,125.0,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,125.000000,...,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.00000,123.000000,123.000000,123.000000
mean,3.0,110.360400,112.081760,106.611520,103.981440,100.630160,103.824480,103.257280,93.842400,97.916720,...,69.758374,89.964065,95.087154,94.812927,103.000407,104.957642,103.35374,104.492195,99.501220,106.623089
std,0.0,23.621095,19.639434,19.946028,17.302794,18.496489,15.067338,19.996682,20.201081,19.827148,...,23.722747,30.092015,25.386721,24.929928,26.295047,23.356406,21.92611,27.592211,29.375918,23.062951
min,3.0,8.360000,59.220000,46.360000,51.260000,14.890000,68.020000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,7.800000,0.00000,0.000000,0.000000,0.000000
25%,3.0,99.820000,101.160000,96.830000,95.550000,95.620000,96.760000,98.890000,89.580000,93.440000,...,55.185000,78.355000,84.845000,85.295000,91.600000,92.765000,96.18500,90.850000,86.470000,98.005000
50%,3.0,106.860000,107.910000,102.850000,102.030000,100.000000,102.240000,103.840000,97.330000,99.790000,...,70.610000,91.350000,97.770000,94.420000,102.010000,103.630000,105.55000,103.210000,95.610000,108.130000
75%,3.0,116.140000,118.010000,110.160000,112.330000,105.950000,109.150000,107.660000,102.830000,106.680000,...,82.620000,102.530000,106.140000,106.185000,109.750000,112.890000,112.43500,114.485000,109.935000,118.990000
max,3.0,190.250000,212.260000,195.830000,176.280000,154.210000,156.460000,187.700000,155.670000,197.000000,...,131.850000,269.140000,160.470000,250.130000,266.360000,187.170000,204.90000,224.450000,278.590000,179.610000